* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Para evitar que os elementos "empurrem" para fora da tela */
  outline: none;
}
ul {
  list-style-type: none;
}
/* FONTS */

@font-face {
  font-family: "CustomPoppins";
  src: url(../assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "CustomPoppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "CustomPoppins";
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

/* HTML */
:root {
  --black: #271c66;
  --white: #ffffff;
  --red: #ffa5a5;

  --op-05: rgba(255, 255, 255, 0.05);
  --op-60: rgba(255, 255, 255, 0.6);

  --sp-xxs: 5px;
  --sp-xs: 10px;
  --sp-sm: 16px;
  --sp-md: 20px;
  --sp-lg: 40px;

  --text-sm: 0.75rem; /* 12px */
  --text-md: 1rem; /* 16px */
  --text-lg: 3.5rem; /* 56px */

  --round-sm: 10px;
}

span {
  font-weight: 200;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "CustomPoppins", sans-serif;
}

.title {
  margin-bottom: var(--sp-md);
}