@import url(./config.css);

.container {
    width: 100%;
    max-width: 1060px;
    margin: 70px auto;
}

header h1 {
    font-size: var(--text-lg);
}

header p {
    opacity: 0.6;
}

main {
    display: grid;
    gap: var(--sp-md);
    margin-top: var(--sp-lg);
    grid-template-columns: 2fr 1fr;
}

main section {
    padding: var(--sp-md);
    border-radius: var(--round-sm);
    background-color: var(--op-05);
}

.new-todo-container {
    grid-column: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo-container {
    grid-row: span 2;
}

.todo-container ul {
    display: flex;
    flex-direction: column;
    gap: var(--sp-sm);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    padding-right: var(--sp-sm);
    padding-top: var(--sp-sm);
}

.todo-container ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--sp-xs) var(--sp-md);
    background-color: var(--op-05);
    animation: show .5s forwards;
}

.todo-container ul li p {
    color: var(--op-60);
}

.todo-container ul li.hide {
    animation: hide .5s forwards;
    
}

.todo-finished {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-finished p {
    font-size: var(--text-lg);
    font-weight: 600;
}

#todo-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sp-sm);
}

#todo-form button {
    width: 100%;
    padding: var(--sp-xs);
    border-radius: var(--round-sm);
    border: none;
    border-color: var(--white);
    transition: .3s;
}

#todo-form button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.field {
    display: flex;
    gap: var(--sp-xxs);
    flex-direction: column;
}

.field input {
    border-radius: var(--round-sm);
    padding: var(--sp-sm);
    background: var(--op-05);
    color: var(--white);
    border: 1px solid transparent;
}

.field input.invalid {
    border-color: var(--red);
}

.delete-button {
    top: -5px;
    right: -5px;
    position: absolute;
    cursor: pointer;
    transition: .3s;
}

.delete-button:hover {
    transform: scale(1.1);
}

.emotional-phrase {
    margin: var(--sp-md) 0;
}

.emotional-phrase p {
    font-size: var(--text-sm);
    color: var(--op-60);
}

.emotional-phrase p:nth-child(2) {
    font-weight: 600;
}

footer {
    display: flex;
    align-items: center;
    gap: var(--sp-xxs)
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes hide {
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(-50px);
    }
}

@media screen and (max-width: 800px) {
    .todo-container {
        grid-column: span 2;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: var(--sp-sm);
    }
    .new-todo-container {
        grid-column: span 2;
    }
    .todo-finished {
        grid-column: span 2;
    }
}